/* Site Web Stage CMF Côte d'Or - 2021 - Page Châtillon-sur-Seine */

/* Page */
p {
  font: 30px "Segoe UI", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

ul {
  font: 30px "Segoe UI", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}

h2 {
  color: #FBAD41;
  font: 50px "Segoe UI", sans-serif;
  margin-left: 5%;
}

.underline {
  margin-left: 5%;
  height: 5px;
  background-color: #EF4536;
}

/* Titre */
h3  {
  font: Bold 55px "Segoe UI", sans-serif;
}

#city {
  position: relative;
  margin-top: 12%;
  height: 200px;
}

#background {
  position: absolute;
  background-color: #FBAD41;
  width: 65%;
  height: 90%;
  top: 0;
  right: 17%;
}

#text1 {
  z-index: 1;
  width: 67%;
  height: 90%;
  text-align: center;
  border: solid #342141;
  margin-left: 14%;
  margin-top: 3%;
  padding-top: 3%;
}

h4 {
  margin-top: 8%;
  color: #FBAD41;
  font: Bold 40px "Segoe UI", sans-serif;
  border: solid #342141;
  padding-left: 2%;
  padding-right: 2%;
  width: 54%;
}

/* Présentation */
#firstPart {
  margin-top: 5%;
}

#firstPart img {
  width: 100%;
  margin-left: 5%;
  margin-top: 7%;
}

#presentation .underline {
  width: 90%;
}

/* Lieu */
#lieu {
  margin-top: 4%;
}

#lieu .underline {
  width: 21%;
}

#photoLieu {
  text-align: center;
}

#photoLieu img {
  width: 30%;
}

/* L'équipe */
#equipe {
  margin-top: 4%;
  margin-bottom: 5%;
}

#equipe .underline {
  width: 12%;
}


/* Footer */
footer{
    background-color: #FBAD41;
    font-size: 2em;
}

/* Barre de footer */
hr{
  height:1px;
  border:none;
  color:#342141;
  background-color:#342141;
}

/* Fonts */

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
}
