
/* Titre */
h2 {
  color: #FBAD41;
  font: bold 50px "Segoe UI", sans-serif;
  margin-left: 5%;
}

.underline {
  margin-left: 5%;
  height: 5px;
  background-color: #EF4536;
  width: 7%;
  margin-bottom: 2%;
}

p {
  font: bold 35px "Segoe UI", sans-serif;
  text-align: left;
}

/* Question */
.questiontalktext{
  padding: 2%;
	text-align: left;
}

a{
  font: bold 45px "Segoe UI", sans-serif;
  text-align: left;
  color:black;
}

a:hover{
  font: bold 45px "Segoe UI", sans-serif;
  text-align: left;
  color:black;
  text-decoration: none;
}

.reponse{
  display:none;
}

.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5%;
  right: auto;
  top: auto;
	bottom: -45%;
	border: 30px solid;
	border-color: #FBAD41 transparent transparent #FBAD41;
}

.talk-bubble {
	margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
  display: inline-block;
  position: relative;
	width: 70%;
	height: auto;
	background-color: #FBAD41;
  border-radius: 26px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Réponse */
.answertalktext {
  padding: 1%;
  padding-left: 2%;
	text-align: left;
}

.answertalktext p{
  font: bold 30px "Segoe UI", sans-serif;
}

.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
  top: 100%;
	right: 5%;
	bottom: -50%;
	border: 30px solid;
	border-color: #E8E8EA #E8E8EA transparent transparent;
}

.whitetalk-bubble {
	margin-left: 25%;
  margin-bottom: 3%;
  display: inline-block;
  position: relative;
	width: 65%;
	height: auto;
	background-color: #E8E8EA;
  border-radius: 26px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#page {
  margin-bottom: 5%;
}

/* Footer */
footer{
    background-color: #FBAD41;
    font-size: 2em;
}

/* Barre de footer */
hr{
  height:1px;
  border:none;
  color:#342141;
  background-color:#342141;
}

@media screen and (max-width: 900px) {
  p{
    font-size: 25px!important;
  }
  .talk-bubble {
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 400px) {
  p{
    font-size: 20px!important;
  }
}

@media screen and (max-width: 600px) {
  .question .row{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  footer{
    margin-top: 50px;
  }
}


/* Fonts */

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
}
