/* Site Web Stage CMF Côte d'Or - 2021 - Page de présentation */

/* Page */
p {
  font: 30px "Segoe UI", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

ul {
  font: 30px "Segoe UI", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}

h2 {
  color: #FBAD41;
  font: 50px "Segoe UI", sans-serif;
  margin-left: 5%;
}

.underline {
  margin-left: 5%;
  height: 5px;
  background-color: #EF4536;
}

/* Présentation */
#firstPart {
  margin-top: 10%;
}

#presentation .underline {
  width: 12%;
}

/* Pour qui ? */
#pourQui {
  margin-top: 4%;
}

#pourQui .underline {
  width: 14%;
}

/* Journée type */
#journeeType {
  margin-top: 4%;
}

#journeeType .underline {
  width: 17%;
}

/* Indispensables */
#indispensables {
  margin-top: 4%;
  margin-bottom: 5%;
}

#indispensables .underline {
  width : 24%;
}





/* Footer */
footer{
    background-color: #FBAD41;
    font-size: 2em;
}

/* Barre de footer */
hr{
  height:1px;
  border:none;
  color:#342141;
  background-color:#342141;
}

@media screen and (max-width: 1024px) {
  #firstPart {
    margin-top: 20%;
  }

  #presentation .underline {
    width: 23%;
  }

  #pourQui .underline {
    width: 28%;
  }

  #journeeType .underline {
    width: 35%;
  }

  #indispensables .underline {
    width : 47%;
  }
}

@media screen and (max-width: 768px) {

  #presentation .underline {
    width: 30%;
  }

  #pourQui .underline {
    width: 35%;
  }

  #journeeType .underline {
    width: 45%;
  }

  #indispensables .underline {
    width : 62%;
  }
}

@media screen and (max-width: 540px) {
  #firstPart {
    margin-top: 30%;
  }

  #presentation .underline {
    width: 37%;
  }

  #pourQui {
    margin-top: 10%;
  }

  #pourQui .underline {
    width: 45%;
  }

  #journeeType {
    margin-top: 10%;
  }

  #journeeType .underline {
    width: 55%;
  }

  #indispensables {
    margin-top: 10%;
  }

  #indispensables .underline {
    width : 75%;
  }

  p {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
  }

  ul {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
  }

  h2 {
    color: #FBAD41;
    font: 40px "Segoe UI", sans-serif;
    margin-left: 5%;
  }
}

@media screen and (max-width: 414px) {
  #firstPart {
    margin-top: 40%;
  }

  #presentation .underline {
    width: 50%;
  }

  #pourQui .underline {
    width: 57%;
  }

  #journeeType .underline {
    width: 70%;
  }

  #indispensables .underline {
    width : 90%;
  }

  p {
    text-align: left;
  }

  ul {
    text-align: left;
  }

  p {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
  }

  ul {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
  }

  h2 {
    color: #FBAD41;
    font: 40px "Segoe UI", sans-serif;
    margin-left: 5%;
  }
}

@media screen and (max-width: 375px) {
  #firstPart {
    margin-top: 40%;
  }

  #presentation .underline {
    width: 55%;
  }

  #pourQui .underline {
    width: 63%;
  }

  #journeeType .underline {
    width: 77%;
  }

  #indispensables .underline {
    width : 97%;
  }
}

@media screen and (max-width: 325px) {
  #firstPart {
    margin-top: 60%;
  }

  #presentation .underline {
    width: 70%;
  }

  #pourQui {
    margin-top: 20%;
  }

  #pourQui .underline {
    width: 80%;
  }

  #journeeType {
    margin-top: 20%;
  }

  #journeeType .underline {
    width: 90%;
  }

  #indispensables {
    margin-top: 20%;
  }

  #indispensables .underline {
    width : 100%;
  }

  p {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
  }

  ul {
    font: 25px "Segoe UI", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
  }

  h2 {
    color: #FBAD41;
    font: 37px "Segoe UI", sans-serif;
    margin-left: 5%;
  }
}

/* Fonts */

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
}
