/* Site Web Stage CMF Côte d'Or - 2021 - Page présentant les tarifs */




/* Tableau des tarifs*/
h4 {
  font: bold 30px "Segoe UI", sans-serif;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#right {
  padding-right: 5%;
  margin-bottom: 0.3%;
  margin-top: 0.3%;
  margin-left: -0.4%;
}

#left {
  margin-bottom: 0.3%;
  margin-top: 0.3%;
  margin-right: -0.4%;
}

.justify-content-center div div{
  border-radius: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  height: 7em;
  display: table;
}

#transparent {
  box-shadow: none;
}

#redBackground {
  background-color: #EF4536;
}

#yellowBackground {
  background-color: #FBAD41;
}

#greyBackground {
  background-color: #E8E8EA;
}

#page {
  margin-bottom: 5%;
}

/* Footer */
footer{
    background-color: #FBAD41;
    font-size: 2em;
}

/* Barre de footer */
hr{
  height:1px;
  border:none;
  color:#342141;
  background-color:#342141;
}

@media screen and (max-width: 1440px) {
  footer img{
    width: 5%;
  }
}



@media screen and (max-width: 1370px) {
  .underline{
    width: 12%;
  }
}

@media screen and (max-width: 1000px) {

  .burger {
      top: 21px;
      left: 75%;
  }
  .circles{
    display: none;
  }

  .navbar{
    height: 110px;
  }
  .menu > ul{
    top: 120%;
    left: -10%;
  }
  .underline{
    width:14%;
  }
  .justify-content-center{
    margin-bottom: 5px;
  }
  .circle.expand{
      width: 4000%;
      height: 4000%;
      top: -1550%;
  }
}

@media screen and (max-width: 850px) {
    footer img{
      width: 8%;
    }
}

@media screen and (max-width: 700px) {

  .underline{
    width:19%;
  }
}

@media screen and (max-width: 600px) {

  .underline{
    width:24%;
  }
}

@media screen and (max-width: 480px) {

  .underline{
    width:29%;
  }
}

@media screen and (max-width: 420px) {

  footer img{
    width: 14%;
  }
  footer{
    font-size:18px;
  }
  .menu > ul{
    top: 120%;
    left: -30%;
  }
}

@media screen and (max-width: 370px) {

  .underline{
    width:35%;
  }
  .justify-content-center h4{
    font-size:20px;
  }
  .menu ul {
    left:-20%;
  }
  .menu ul li a{
    font-size: 30px!important;
  }
}
@media screen and (max-width: 335px) {

  .underline{
    width:44%;
  }
}

@media screen and (max-width: 260px) {

  .underline{
    width:53%;
  }
}
/* Fonts */

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
}
